{% extends "base.html" %}
{% block content %}
		<!-- begin colLeft -->
		<div id="colLeft">
         <div class="top-title"><span><strong>"Error!"</strong></span></div>
         
         <div class="blogPost clearfix">
		<p>Sorry, did not find the article you want, perhaps you can look for in the search bar。</p>
		</div>
		<!-- end post -->

		<p>Sorry, but you are looking for something that isn't here.</p>

		</div>
		<!-- end colLeft -->

<!-- begin colRight -->
		<div id="colRight">	
			{% include "sidebar.html" %}
			</div>
<!-- end colRight -->

{% endblock %}