{% extends "base.html" %}
{% block head_block %}
<script> 
<!--
document.title='您查看的页面没有找到哦(404)~~~~';
-->
</script> 
{% endblock %}
{% block content %}
<div id="content">
	Sorry, the page you requested was not found, make sure that the page URL is correct!
	This theme is designed by Nick La who also runs on
	<a href="http://www.webdesignerwall.com">Web Designer Wall</a>, 
	and changed by <a href="https://www.twitter.com/amaozhao">Amao Zhao</a> for 
	<a href="http://silogdemo2.appspot.com">Silog</a>.
	If any question, you can contact <a mailto="amaozhao@gmail.com">Me</a>.
	<p align="center" style="font-size:192px;" onmouseover="this.innerHTML='4☻4'" onmouseout="this.innerHTML='4☺4'">4☺4</p>
</div>
{% endblock %}